
// Fonts
@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise');

// Variables

// Buefy ( Bulma )
@import '../../node_modules/buefy/dist/buefy.css';

// Home CSS

@import "../../node_modules/bulma-extensions/dist/css/bulma-extensions.min.css";

@import '../../node_modules/fullcalendar/dist/fullcalendar.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-family: 'Open Sans', sans-serif;
}

.fc-content {
  height: 32px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around
}