
// Fonts
@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise');

@import url('https://fonts.googleapis.com/css?family=Montserrat');
// Variables

// Buefy ( Bulma )

@import '~buefy/dist/buefy.css';

@import '~bulma-helpers/css/bulma-helpers.min.css';

// Home CSS

@import "~bulma-extensions/dist/css/bulma-extensions.min.css";

@import '~fullcalendar/dist/fullcalendar.css';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-family: 'Open Sans', sans-serif;
}

.fc-content {
  height: 32px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around
}

.my-tomato {
  background-color:rgb(245, 83, 83) !important;
}